<mat-toolbar color="primary">
  <span>Payment Management System</span>
  <span class="spacer"></span>
  <!-- <button mat-button routerLink="/add-payment">Add Payment</button> -->
</mat-toolbar>

<router-outlet></router-outlet>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active-link">Main Screen</a>
      <a mat-list-item routerLink="/add-payment" routerLinkActive="active-link">Add Payment</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer>
  <p>© 2024 Payment Management System</p>
</footer>
